<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page Not Found</title>
    <style>
      .container {
        width: 100%;
        position: relative;
        box-sizing: border-box;
        overflow: hidden;
        text-align: center;
      }
      .notfound_img {
        width: 500px;
      }
      .container > h1 {
        font-size: 45px;
        position: absolute;
        top: 20px;
        left: 46%;
        color: red;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Opps!</h1>
      <img
        class="notfound_img"
        src="https://i.ibb.co/2FvgN05/notfound.gif"
        alt="notfound"
        border="0"
      />
    </div>
  </body>
</html>
