<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome mixy server</title>
    <style>
      .container {
        width: 100%;
        overflow: hidden;
        box-sizing: border-box;
        position: relative;
        text-align: center;
      }
      .welcome_img {
        width: 500px;
      }
      .container > p {
        color: #1f3746;
        text-transform: uppercase;
        font-family: Times New Roman;
        font-weight: 700;
        font-size: 27px;
        position: absolute;
        bottom: 170px;
        left: 44%;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <img
        class="welcome_img"
        src="https://i.ibb.co/X8W646w/welcome.gif"
        alt="welcome"
        border="0"
      />
      <p>Mixy Server</p>
    </div>
  </body>
</html>
